@import url('https://fonts.googleapis.com/css2?family=Megrim:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600&display=swap');

body {
    font-family: 'Nunito', sans-serif !important;
    /* background: radial-gradient(circle at right center, rgb(0, 0, 0), rgb(45, 45, 45), rgb(0, 0, 0)); */
    background-color: #000000;
    background: #000 url(../images/stars.png) repeat top center !important;
}

::-webkit-scrollbar {
    width: 0px;
}

#avengers-logo {
    z-index: 0;
    border-radius: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: 'Megrim', sans-serif !important; */
    font-family: 'Jura', sans-serif !important;
    text-transform: uppercase;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
}

.navbar {
    font-family: 'Jura', sans-serif !important;
    text-transform: uppercase;
    font-weight: 700;
}

.black {
    background-image:
        linear-gradient(80deg,
            #222222 0%,
            #414141 75%,
            #222222 100%);
    color: white !important;
}

.blue {
    background-color: #044c5e !important;
    color: white !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.card-img-top {
    height: 7rem;
    object-fit: contain;
    animation: 1.5s infinite floater;
}

.black:hover h4 {
    border-radius: inherit;
    opacity: 1;
    visibility: visible;
}

.black:hover::before {
    border-radius: inherit;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.539);
    z-index: 1;
}

.black h4 {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 2;
}

/* Star Styles */
@keyframes move-twinkle-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -1000px 5000px;
    }
}

@keyframes floater {
    0% {
        transform: translateY(-0.2rem);
    }

    50% {
        transform: translateY(-0.4rem);
    }

    100% {
        transform: translateY(-0.2rem);
    }
}

.stars,
.twinkling {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.twinkling {
    background: transparent url(../images/twinkling.png) repeat top center;
    animation: move-twinkle-back 100s linear infinite;
    height: 100%;
    z-index: -1;
}

.planet {
    border: none;
    width: 20em;
    height: 20em;
    position: relative;
    animation: rotate 30s linear infinite;
    border-radius: 50%;
    background-repeat: repeat;
    background-size: 200% 100%;
}

.planet:hover {
    animation-play-state: paused;
    transform: scale(1.03);
    transition: 0.6s ease-in-out;
}

@keyframes rotate {
    to {
        background-position: -206% 0;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blinking {
    animation: blink 1s infinite;
}

.image {
    width: 90%;
}

.image-1 {
    max-height: 10rem;
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeInFromLeft 0.7s ease-in forwards;
}

.separate-fade {
    opacity: 0;
    animation: separateFade 3s ease-in forwards;
}

@keyframes separateFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}